docs/doc.md

# Sorties d'entraînement RL (checkpoints + logs TensorBoard)
qr_inventory_swarm/
runs/
outputs/
# Python
__pycache__/
*.pyc
rl_inventory/assets
swarmscan_runs
swarm_qr/experiments/07_enveloppe/images_9019
swarm_qr/experiments/07_enveloppe/images_optique
swarm_qr/experiments/07_enveloppe/images_sans_qr
swarm_qr/experiments/07_enveloppe/images_traversee
swarm_qr/experiments/07_enveloppe/images_vol
swarm_qr/experiments/10_detecteur/jeu
swarm_qr/experiments/11_mission/*/instantanes
swarm_qr/experiments/11_mission/*/video
swarm_qr/experiments/11_mission/*/ardupilot_logs
swarm_qr/experiments/11_mission/tests of system/*/video
swarm_qr/experiments/11_mission/tests of system/*/instantanes
swarm_qr/experiments/11_mission/tests of system/*/ardupilot_logs
swarm_qr/experiments/13_pore/*/video